name: Build and test

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build_and_test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        rust: [nightly, beta, stable]
    steps:
      - uses: actions/checkout@v2

      - name: Install latest ${{ matrix.rust }}
        uses: actions-rs/toolchain@v1
        with:
            toolchain: ${{ matrix.rust }}
            profile: minimal
            override: true

      - name: Install wasm test tools
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
        if: startsWith(matrix.os, 'ubuntu')

      - name: Run cargo check
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --all --bins --examples --tests --all-features

      - name: Run cargo check (without dev-dependencies to catch missing feature flags)
        if: startsWith(matrix.rust, 'nightly')
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: -Z features=dev_dep

      - name: Run cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test

      - name: Test wasm
        run: wasm-pack test --headless --chrome
        if: startsWith(matrix.os, 'ubuntu')

      - name: Benchmarks
        if: startsWith(matrix.rust, 'nightly')
        uses: actions-rs/cargo@v1
        with:
          command: bench
